venv
AI_Module
script.py
*.pdf
*.png
__pycache__/
*.pyc
.DS_Store
.vscode/
data/
# Backend ignores
backend/node_modules/
backend/.env
backend/.env.*

# Frontend ignores (safe to keep)
frontend/node_modules/
frontend/.env
frontend/.env.*

# General
node_modules/
.env
.env.*
